# Object files
*.o

# Compiled executable
optee_example_my_test

# TA ELF files (non-stripped and stripped)
*.elf
*.stripped.elf

# TA Debug maps
*.map
*.dmp

# User TA header
user_ta_header.o

# Dynamically generated lists
dyn_list

# Include debug logs
*.log

# Ignored files
*.ignore
